.form__input-text {
  margin: 0;
  padding-inline-start: 24px;
  padding-block-start: 12px;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}
