.header__list-item {
  position: relative;
}

.header__list-item:hover .header__list-submenu {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear, visibility 0s;
}

 @media screen and (max-width: 600px) {
  .header__list-item {
  display: none;
  }
} 