.form__list {
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #3B3748;
  padding: 0;
  padding-inline-start: 28px;
  padding-inline-end: 20px;
  margin: 0;
  margin-block-start: 20px;
}
