.form {
  display: grid;
  grid-template-areas:
    "steps steps "
    "information field "
    " btn btn";
  justify-items: start;
  /* grid-template-columns: minmax(min-content, 309px) minmax(min-content, 531px); */
  grid-template-columns: minmax(160px, 309px) minmax(160px, 531px);

  /* grid-template-columns: minmax(160px, calc(531/2)) minmax(160px, calc(531/2)); */
  max-width: 880px;
  min-width: 320px;
  column-gap: 40px;
}

@media screen and (max-width: 960px) {
  .form {
    /* justify-items: center; */
    grid-template-areas:
    "steps steps"
    "information information"
    "field field"
    "btn btn";
    column-gap: 0px;
  }
}