.form {
  display: grid;
  grid-template-areas:
    "steps inputs "
    "title inputs "
    "title inputs "
    "title inputs "
    " btn btn";
  justify-items: start;
  grid-template-columns: minmax(min-content, 309px) minmax(min-content, 531px);
  max-width: 880px;
  column-gap: 40px;
}
