.form {
  display: grid;
  grid-template-areas:
    "steps steps "
    "information field "
    " btn btn";
  justify-items: start;
  grid-template-columns: minmax(min-content, 309px) minmax(min-content, 531px);
  max-width: 880px;
  column-gap: 40px;
}

@media screen and (max-width: 860px) {
  .form {
    grid-template-areas:
    "steps steps "
    "information information "
    "field field "
    " btn btn";
    justify-self: center;
  }
}