.header__navigation-town {
  align-self: center;
  width: 230px;
  margin-left: 55px;
}

@media screen and (max-width: 767px) {
  .header__navigation-town {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 360px) {
  .header__navigation-town {
    display: none;
  }
}