.form__button_active {
  background-color: var(--button-background-active-color);
  color: #fcfaf7;
  border: none;
}

.form__button_active:hover:enabled {
  background-color: var(--button-background-hover-color);
  color: var(--white-gray);
}
