.form__input_type_radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-inline-end: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("../../../images/radio.svg");
  background-size: cover;
  transition: opacity 0.2s linear;
}

.form__input_type_radio:checked {
  background-image: url("../../../images/radio-checked.svg");
}

.form__input_type_radio:hover {
  opacity: 0.7;
}