.form__button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #3b3748;
  background: transparent;
  color: black;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  width: 204px;
  height: 48px;
  border-radius: 26px;
  transition: opacity 0.2s linear;
}

.form__button:hover {
  opacity: 0.7;
}
