.landing__list-description {
  max-width: 417px;
  font-family: var(--font-family-neue);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: var(--font-weigth-normal);
  color: var(--black-gray);
}
