.landing__list-description {
  max-width: 417px;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #3b3748;
  grid-area: description;
}
