.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-padding-after: 80px;
  padding-block-end: 80px;
}

@media only screen and (max-width: 960px) {
  .section-form {
    padding: 0;
  }
}
