.landing__list {
  counter-reset: myCounter;
  padding: 0;
  margin: 0;
  margin-block-end: 30px;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

@media screen and (max-width: 767px) {
  .landing__list {
    margin-block-end: 0;
  }
}