.footer__block {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 427px;
}

.footer__block:first-of-type {
  width: 310px;
  margin: 0 40px 0 40px;
}

.footer__block:last-of-type {
  width: 310px;
  margin: 0 0 0 40px;
}

@media screen and (max-width: 767px) {
  .footer__block {
    margin-bottom: 48px;
  }

  .footer__block:first-of-type {
    width: 310px;
    margin: 0 0 48px 0;
  }
  
  .footer__block:last-of-type {
    width: 310px;
    margin: 0;
  }
}