.footer__block {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 427px;
}

.footer__block:first-of-type {
  width: 310px;
  margin: 0 40px 0 40px;
}

.footer__block:last-of-type {
  width: 310px;
  margin: 0 0 0 40px;
}

@media only screen and (max-width: 1250px) {
  .footer__block {
    width: auto;
  }

  .footer__block:first-of-type {
    margin: 0;
    width: auto;
  }

  .footer__block:last-of-type {
    margin: 0;
    width: auto;
  }
}
