.header {
  width: 100%;
  background-color: #ffd400;
  font-family: "TT Firs Neue", Arial, sans-serif;
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px 0px rgba(59, 55, 72, 0.12);
  position: relative;
}
