.header__navigation {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}