.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  display: flex;
  margin: 0 33px 0 11px;
  align-self: center;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.7;
}
