.form__select-list {
  width: 100%;
  max-width: 531px;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  padding-block-start: 24px;
  box-shadow: 0px 4px 12px rgba(59, 55, 72, 0.12);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
