.footer__link {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--black-gray);
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  color: #5100B8;
}
