.landing__button {
  width: 197px;
  height: 48px;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  background: #7100ff;
  color: #fcfaf7;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: 0.2s linear;
}

.landing__button:hover {
  background-color: #5100b8;
}

@media screen and (max-width: 850px) {
  .landing__button {
    width: 100%;;
    min-width: 320px;
    height: 44px;
    font-family: "TT Firs Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-block-end: 20px;
    align-self: center;
  }
}