.landing__button {
  width: 197px;
  min-height: 48px;
  font-family: var(--font-family-neue);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: var(--font-weigth-medium);
  align-self: flex-end;
  padding: 0;
  margin: 0;
  background: var(--button-background-color);
  color: #fcfaf7;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: 0.2s linear;
}

.landing__button:hover {
  background-color: var(--button-background-hover-color);
}
