.form__input_type_textarea-invitation {
  height: 96px;
  resize: none;
}

.form__input_type_textarea-invitation::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 960px) {
  .form__input_type_textarea-invitation {
    height: 104px;
  }
}
