.form__input_type_radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0 10px 0 0;
  border: none;
  background-image: url("../../../../images/radio.svg");
  background-size: cover;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.form__input_type_radio:checked {
  background-image: url("../../../../images/radio-checked.svg");
}

.form__input_type_radio:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 960px) {
  .form__input_type_radio {
    width: 20px;
    height: 20px;
    -webkit-margin-end: 6px;
    margin-inline-end: 6px;
  }
}
