.form__input_type_select {
  background: url('../../../../images/select.svg') no-repeat right;
  background-position-x: calc(100% - 29px);
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  color: #96949E;
  margin: 0;
}


.form__input::placeholder,
.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input::-ms-input-placeholder {
  font-size: 18px;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #96949E;
}

.form__input:focus-within {
  outline: none;
  border-color: #7100ff;
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form__input:invalid {
  outline-color: #f40934;
}
