.form__title {
  font-family: var(--font-family-neue);
  font-size: 48px;
  line-height: 52px;
  font-weight: var(--font-weigth-medium);
  font-style: normal;
  letter-spacing: -0.01em;
  margin: 0;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-after: 12px;
  margin-block-end: 12px;
}

@media only screen and (max-width: 960px) {
  .form__title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0;
    padding: 0 20px;
    margin: 0;
  }
}
