.form__title {
  margin: 0;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.01em;
  max-width: 309px;
  grid-area: title;
  margin-block-start: -70px;
  margin-inline-start: auto;
}
