.header__button {
  padding: 0;
  width: 100%;
  max-width: 153px;
  height: 48px;
  border: none;
  background-color: #7100ff;
  color: #fff;
  border-radius: 26px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  transition: 0.2s linear;
}

.header__button:hover {
  background-color: #5100b8;
}
