.form__field_buttons {
  display: flex;
  flex-flow: row;
  padding: 8px 0 0 112px;
}

@media only screen and (max-width: 960px) {
  .form__field_buttons {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    background-color: var(--footer-mobile-background-color);
    box-shadow: 0 -8px 32px 0 rgb(59 55 72 / 12%);
    padding: 20px;
    box-sizing: border-box;
  }
}

