.form__input {
  width: 100%;
  max-width: 531px;
  height: 48px;
  background-color: #fff;
  border: 2px solid #96949e;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 12px 20px;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3b3748;
  margin: 0 0 32px 0;
}

.form__input::placeholder,
.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input::-ms-input-placeholder {
  font-size: 18px;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #96949E;
}

.form__input:focus {
  outline-color: #7100ff;
}

 .form__input:invalid {
  outline-color: #f40934;
}
