.form__input {
  width: 100%;
  max-width: 531px;
  height: 48px;
  background-color: var(--white-gray);
  border: 2px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 24px;
  padding: 12px 20px;
  font-family: var(--font-family-neue);
  font-style: normal;
  font-weight: var(--font-weigth-normal);
  font-size: 18px;
  line-height: 24px;
  color: var(--input-color);
  margin: 0 0 32px 0;
}

.form__input::placeholder,
.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input::-ms-input-placeholder {
  font-size: 18px;
  font-family: var(--font-family-neue);
  font-style: normal;
  font-weight: var(--font-weigth-normal);
  line-height: 24px;
  color: var(--input-placeholder-color);
}

.form__input:focus {
  outline-color: var(--input-outline-focus-color);
}


