.landing__button-container {
  align-self: flex-end;
}

@media only screen and (max-width: 960px) {
  .landing__button-container {
      width: 100%;
      position: fixed;
      right: 0;
      bottom: 0;
      text-align: center;
      background-color: var(--footer-mobile-background-color);
      box-shadow: 0 -8px 32px 0 rgb(59 55 72 / 12%);
      padding: 20px;
      box-sizing: border-box;
  }
}
