.form__label {
  display: block;
  padding: 0 0 0 24px;
  margin: 0 0 8px 0;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #96949E;
}
