.form__label {
  display: block;
  padding: 0 0 0 24px;
  margin: 0 0 8px 0;
  font-family: var(--font-family-neue);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #96949E;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .form__label {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
