.form__input-button {
  width: 531px;
  height: 48px;
  margin-block-end: -7px;
  box-sizing: border-box;
  border: 2px solid #3b3748;
  border-radius: 26px;
  position: relative;
}

.form__radio-button:checked + .form__input-button {
  background-color: #7100ff;
  color: white;
}
