.form__input-button {
  width: 531px;
  height: 48px;
  margin-block-end: -6px;
  box-sizing: border-box;
  display: block;
  border: 2px solid #3b3748;
  border-radius: 26px;
  position: relative;
  transition: opacity 0.2s linear;
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  padding-inline-start: 24px;
  padding-block-start: 12px;
}

.form__radio-button:checked + .form__input-button {
  background-color: #7100ff;
  color: white;
}

.form__input-button:hover {
  opacity: 0.7;
}
