@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__links/header__links.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__logo-link/header__logo-link.css");
@import url("../blocks/header/__navigation/header__navigation.css");
@import url("../blocks/header/__list/header__list.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__link/_type/header__link_type_submenu.css");
@import url("../blocks/header/__link-icon/header__link-icon.css");
@import url("../blocks/header/__button/header__button.css");
@import url("../blocks/header/__list-submenu/header__list-submenu.css");
@import url("../blocks/header/__list-item/header__list-item.css");
@import url("../blocks/header/__navigation-town/header__navigation-town.css");
@import url("../blocks/header/__content/header__content.css");

@import url("../blocks/content/content.css");
@import url("../blocks/content/__container/content__container.css");
@import url("../blocks/content/__title/content__title.css");
@import url("../blocks/section-form/section-form.css");

@import url("../blocks/form/form.css");
@import url("../blocks/form/__steps/form__steps.css");
@import url("../blocks/form/__information/form__information.css");
@import url("../blocks/form/__title/form__title.css");
@import url("../blocks/form/__paragraph/form__paragraph.css");

@import url("../blocks/form/__label/form__label.css");
@import url("../blocks/form/__label/_type/form__label_type_radio-custom.css");

@import url("../blocks/form/__input/form__input.css");
@import url("../blocks/form/__input/_type/form__input_type_radio-custom.css");
@import url("../blocks/form/__input/_type/form__input_type_select.css");
@import url("../blocks/form/__input/_type/form__input_type_textarea.css");
@import url("../blocks/form/__input/_type/form__input_type_textarea-invitation.css");

@import url("../blocks/form/__line/form__line.css");

@import url("../blocks/form/__field/form__field.css");
@import url("../blocks/form/__field-container/__field-container.css");
@import url("../blocks/form/__field-container/_no-padding/form__field-container_no-padding.css");
@import url("../blocks/form/__field/_buttons/form__field_buttons.css");

@import url("../blocks/form/__button/form__button.css");
@import url("../blocks/form/__button/_type/form__button_type_next.css");
@import url("../blocks/form/__button/_type/form__button_type_back.css");
@import url("../blocks/form/__button/_active/form__button_active.css");

@import url("../blocks/form/__error-container/form__error-container.css");
@import url("../blocks/form/__error-text/form__error-text.css");
@import url("../blocks/form/__error-img/form__error-img.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__content/footer__content.css");
@import url("../blocks/footer/__block/foooter__block.css");
@import url("../blocks/footer/__block-title/footer__block-title.css");
@import url("../blocks/footer/__block-list/footer__block-list.css");
@import url("../blocks/footer/__block-list-item/footer__block-list-item.css");
@import url("../blocks/footer/__block-list-item-social/footer__block-list-item-social.css");
@import url("../blocks/footer/__block-list-item-icon/footer__block-list-item-icon.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__link/_mail/footer__link_mail.css");
