.landing__title {
  font-family: "TT Firs Neue", Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  color: #3b3748;
  line-height: 52px;
  letter-spacing: -0.01em;
  margin: 0;
  margin-block-end: 25px;
}
