.footer {
  background-color: var(--footer-background-color);
  padding: 80px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
}

@media only screen and (max-width: 960px) {
  .footer {
    position: sticky;
    bottom: 0;
    background-color: var(--footer-mobile-background-color);
    padding: 20px 0px;
    -webkit-box-shadow: 0 -8px 32px 0 rgba(59, 55, 72, .12);
    box-shadow: 0 -8px 32px 0 rgba(59, 55, 72, .12);
  }
}
