.footer {
  background-color: #ebe9ed;
  padding: 80px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0;
    background: #FFD400;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    background: #FFD400;
  }
}
