.footer__content {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1360px;
  min-width: 320px;
}

@media only screen and (max-width: 1250px) {
  .footer__content {
    justify-content: space-between;
  }
}

@media only screen  and (max-width: 960px) {
  .footer__content {
    display: none;
  }
}
