.header__link-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media only screen  and (max-width: 960px) {
  .header__link-icon {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
  }
}
