.landing__list-title {
  -ms-flex-preferred-size: 306px;
  flex-basis: 306px;
  letter-spacing: -0.01em;
  margin: 0 40px 0 auto;
  font: inherit;
}

@media only screen and (max-width: 960px) {
  .landing__list-title {
    margin: 0 0 16px 48px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
