.form__mark {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icon-mark.svg);
  position: absolute;
  top: 30px;
  right: 25px;
  display: none;
}

.form__radio-button:checked ~ .form__mark {
  display: block;
}
