.form__steps {
  margin: 0;
  font-family: var(--font-family-neue);
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weigth-normal);
  font-style: normal;
  padding-block-end: 12px;
  grid-area: steps;
}

@media only screen and (max-width: 960px) {
  .form__steps {
    padding: 0 20px 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
