.footer__block-title {
  font-family: var(--font-family-neue);
  font-size: 32px;
  font-weight: var(--font-weigth-medium);
  font-style: normal;
  line-height: 1.12;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: var(--black-gray);
  margin: 0 0 20px 0;
}
